*{
    box-sizing: border-box;
}

.center{
    text-align: center;
}
body{
    font-family: 'Ubuntu';
    margin: 0;
    height: calc(100vh - 50px);
    overflow: hidden;
}

.nav-container{
    height: 75px;
    padding: 15px;
    border-bottom: 2px solid black;
}

.nav-container h1{
    font-weight: bold;
    margin: 0;
}

p{
    font-size: 20px;
}
.main-content{
    display: flex;
    justify-content: flex-end;
}
.game{
    
    display: flex;
    flex-direction: column;
}

.player-board{
    padding: 32px;
    width: 33%;
}
.player-board img{
    height: 36px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player p{
    width: 125px;
    display: inline-block;
    margin: 16px 0;
}
.gameboard{
    width: 450px;
    height: 450px;
    border: 1px solid black;
}

#new-game{
    width: 200px;
    display: block;
    margin: 16px auto;
}

/* .gameboard{
    background-image: url('assets/background.svg');
} */